/* header style*/

header {
    background-color: green;
    color: white;
    margin: 0px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    font-size: 2.7em;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0px;
}


/* layout styles */

nav {
    height: 50px;
    background-color: black;
    padding-top: 0;
}

nav a {
    color: var(--title);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav .navbar-trigger {
    margin: 0;
}


/* main body style*/

.main-body {
    margin: 0px;
    padding: 0px;
}

.listcontainer {
    margin-top: 20px;
}

.sideImg {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.body-item {
    margin: 0px;
    padding: 0px;
}


/*Annoucement and message page style */

.announcement-item {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.announcetitle h6 {
    font-weight: bold;
    font-size: 1.3em;
}

.announcedate {
    text-align: right;
}

.createAnnounce {
    text-align: right;
    margin-right: 20px;
}

.announce-detail,
.message-detail {
    font-size: 1.2em;
}

.message-item {
    margin-top: 20px;
}

.message-item .message {
    border-radius: 15%;
    width: 60%;
    margin: auto;
}

.messagedate {
    text-align: right;
    padding-right: 50px;
}

.mesSenderPhoto {
    width: 60px;
}


/* member profile*/

.mphoto {
    width: 100px;
}

.M-Fname {
    font-weight: bold;
}

.editmessage {
    text-align: right;
}

.member-portal {
    height: 450px;
}


/* form-styles */

form {
    padding-top: 10px;
}

.input-form {
    margin-top: 10px;
    border: 1px solid white;
    padding: 10px;
}

.input-field {
    border: 1px solid white;
}

.input-field input {
    width: 100%;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    font-family: 'Times New Roman', Times, serif;
    height: 40px;
}

.form-title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.input-field {
    margin-top: 20px;
}

textarea {
    height: 200px;
}

label {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}

.submit-Btn {
    margin-top: 40px;
    text-align: center;
}

button {
    padding: 7px;
    background-color: green;
    color: white;
    border-radius: 15%;
}

.acount {
    text-align: center;
    margin-top: 30px;
}


/*footer style*/

footer {
    background-color: green;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-items {
    margin-bottom: 0px;
    padding: 20px;
}

.footer-text {
    text-align: center;
}

.socialmedia-items {
    margin-top: 7px;
}

.socialmedialink {
    margin-left: 5.5%;
    margin-right: 5.5%;
}

.socialmedialink .fa {
    color: white;
    font-size: 1.3em;
}